{% extends 'base.html.twig' %}

{% block title %}{{ 'login.sign_in'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'common.logout'|trans }}</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{{ 'login.sign_in'|trans }}</h1>
            <div class="row">
                <label for="inputEmail">{{ 'login.email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="row mt-3">
                <label for="inputPassword">{{ 'login.password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="actions d-flex mt-5">
                <button class="btn btn-lg btn-primary mr-4" type="submit">
                    {{ 'login.sign_in'|trans }}
                </button>
                <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">
                    {{ 'register.title'|trans }}
                </a>
            </div>

        </form>
    </div>
{% endblock %}
