{% extends 'base.html.twig' %}

{% block title %}{{ 'register.register'|trans }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{{ 'register.register'|trans }}</h1>
    <div class="container">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">{{ 'register.register'|trans }}</button>
        <a class="btn btn-primary" href="{{ path('app_login') }}">{{ 'login.sign_in'|trans }}</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
