{% extends 'admin/base.html.twig' %}

{% block title 'Edition de la description ' %} {# ~ = concaténation#}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Editer la description </h1>

            {{ include('admin/description/_form.html.twig', {'SubmitButtonText': 'Editer la description'} ) }}
        </div>
    </div>
{% endblock %}

