@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import 'shared/variables';

@import "~bootstrap/scss/bootstrap.scss";

body{
    font-family: $primary-font;
    background-color: lightgrey;
}

.listeLogiciels {
    //list-style: url('./public/images/right-arrow.svg');
    font-weight: bold;
}

.alert{
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success{
        background-color: green;
    }
    &.alert-error{
        background-color: red;
    }
    &.alert-info{
        background-color: blue;
    }
}

.flex-project {
    flex: 33%;
    align-items: center;
    padding: 2% 5%;
    max-width: 500px;
}

.description {
    flex: 50%;
    padding: 2% 20%;
}

.show-project {
    flex: 50%;
    padding: 5% 20%;
}

.goal {
    padding-top: 3%;
}