<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('admin_app_home')}}" >Administration</a>
        <a class="navbar-brand" href="{{ path('app_home')}}" >Accueil Site</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto md-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_project_create') }}">Nouveau Projet</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_description') }}">Ma Description</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_cv') }}">Mon CV</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_logiciel_create') }}">Créer Logiciel</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_app_logiciel_index') }}">Liste Logiciels</a>
                </li>
            </ul>
        </div>


        <form class="pull-right hidden" role="search" id="nav-search-form" method="get" action="{{ path('admin_app_home') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Rechercher un projet" name ="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"></button>
                </span>
            </div>
        </form>

        <div class="collapse navbar-collapse" id="navbarsExample03">

            <div style="color: red">{{ app.user.username }}</div>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
