{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Création Projet</h1>

            {{ include('admin/project/_form.html.twig', {'SubmitButtonText': 'Créer le Projet'}) }}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        $(function () {
            $('.select-2').select2();
        })
    </script>
{% endblock %}