{% extends 'admin/base.html.twig' %}

{% block title %}Lucie Justine{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ pluralize(project|length, 'Projet') }} </h1>
    {% for projects in project %}
        <article>
            <h2><a href="{{ path('admin_app_project_show', { 'id': projects.id }) }}">{{ projects.nomProjet }}</a></h2>
            <p>{{ projects.debutProjet|date('d/m/Y') }}
                {% if projects.finProjet is not empty %}
                    - {{ projects.finProjet|date('d/m/Y') }}
                {% endif %}
            </p>

            {% if vich_uploader_asset(projects, 'imageFile') is not null %}
                <img src="{{ vich_uploader_asset(projects, 'imageFile')|imagine_filter('image_home_scale') }}">
            {% else %}
                <img src="{{ asset('images/no-found.png') }}">
            {% endif %}

            <p>{{ projects.descriptionProjet|u.truncate(30, '...', false) }}</p>
        </article>
    {% else %}
        <article>
            <h1>Désolé il n'y a aucun projet</h1>
        </article>
    {% endfor %}
</div>
{% endblock %}
