{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ project.nomProjet }}</h1>
    <p>{{ project.debutProjet|date('d/m/Y') }}
        {% if project.finProjet is not empty %}
            - {{ project.finProjet|date('d/m/Y') }}
        {% endif %}
    </p>

    {% if vich_uploader_asset(project, 'imageFile') is not null %}
        <img src="{{ vich_uploader_asset(project, 'imageFile')|imagine_filter('image_scale') }}">
    {% else %}
        <img src="{{ asset('images/not-found.png') }}">
    {% endif %}

    <h5>Voici les objectifs de ce projet :</h5>
    {% for objectif in listeObjectifs %}
        <ul style="list-style: url({{ asset('images/right-arrow.svg') }});">
            <li>{{ objectif }}</li>
        </ul>
    {% endfor %}

    <p>{{ project.descriptionProjet }}</p>
    <p>{{ project.conclusionProjet }}</p>

    {%  if project.listeLogiciels is not empty %}
        <h5>Voici le/les logiciel(s) utilisé(s) durant ce projet :</h5>
        {% for logiciel in project.listeLogiciels %}
            <ul class="listeLogiciels">
                <li style="list-style: url({{ asset('images/right-arrow.svg') }});">
                    <img src="{{ vich_uploader_asset(logiciel, 'imageLogicielFile')|imagine_filter('image_Logiciel_scale') }}">
                    {{ logiciel.name }}
                </li>
            </ul>
        {% endfor %}
    {% endif %}

   <a href="{{ path("admin_app_project_edit", {id: project.id}) }}">Editer</a>
    <a href="#" onclick="event.preventDefault(); confirm('Es-tu sûr de vouloir supprimer ceci ?') && document.getElementById('js_site_delete_form').submit();">Supprimer</a>

    <form id="js_site_delete_form" action="{{ path('admin_app_project_delete', {id: project.id}) }}" method="post" style="display: none;">
        <input type="hidden"  name="csrf_token" value="{{ csrf_token('project_deletion' ~ project.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
