{% form_theme form 'form_theme/vich_form_theme.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}

<input type="submit" value="{{ SubmitButtonText ?? 'Créer le Logiciel'}}" class="btn btn-primary btn-block" formnovalidate>

{{ form_end(form) }}