{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau Logiciel{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Création Logiciel</h1>

            {{ include('admin/logiciel/_form.html.twig', {'SubmitButtonText': 'Créer le Logiciel'}) }}
        </div>
    </div>


{% endblock %}