{% extends 'admin/base.html.twig' %}

{% block title 'Edition du Logiciel #' ~ logiciel.id %} {# ~ = concaténation#}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Editer le Logiciel #{{ logiciel.id }}</h1>

            {{ include('admin/logiciel/_form.html.twig', {'SubmitButtonText': 'Editer le Logiciel'} ) }}
        </div>
    </div>

    <a href="#" onclick="event.preventDefault(); confirm('Es-tu sûr de vouloir supprimer ceci ?') && document.getElementById('js_logiciel_delete_form').submit();">Supprimer</a>

    <form id="js_logiciel_delete_form" action="{{ path('admin_app_logiciel_delete', {id: logiciel.id}) }}" method="post" style="display: none;">
        <input type="hidden"  name="csrf_token" value="{{ csrf_token('logiciel_deletion' ~ logiciel.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}