{% extends 'admin/base.html.twig' %}

{% block title %}Lucie Justine{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ pluralize(logiciel|length, 'Logiciel') }} </h1>
    {% for logiciels in logiciel %}
        <ul>
            <li>
                {% if vich_uploader_asset(logiciels, 'imageLogicielFile') is not null %}
                    <img src="{{ vich_uploader_asset(logiciels, 'imageLogicielFile')|imagine_filter('image_Logiciel_scale') }}">
                {% else %}
                    <img src="{{ asset('images/no-found.png') }}">
                {% endif %}

                <a href="{{ path('admin_app_logiciel_edit', { 'id': logiciels.id }) }}">{{ logiciels.name }}</a>
            </li>
        </ul>
    {% else %}
        <article>
            <h1>Désolé il n'y a aucun logiciel</h1>
        </article>
    {% endfor %}
</div>
{% endblock %}
