{% extends 'base.html.twig' %}

{% block title %}Lucie Justine{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Ma Description :</h1>

        {% for data in description %}
            <article>
                <h4 class="d-flex text-justify font-weight-bold description">{{ data.description }}</h4>

                <div class="d-flex justify-content-center">
                    {% if vich_uploader_asset(data, 'imageCVFile') is not null %}
                        <img src="{{ vich_uploader_asset(data, 'imageCVFile')|imagine_filter('image_CV_scale') }}">
                    {% else %}
                        <img src="{{ asset('images/no-found.png') }}">
                    {% endif %}
                </div>

            </article>
        {% endfor %}
    </div>

    {% include 'cv_button.html.twig' %}

{% endblock %}
