<div>
    Vous pouvez télécharger mon CV en cliquant ici :
    <a href="{{ asset('uploadCV/CV.pdf') }}" download>
        <img src="{{ asset('images/CV.png') }}" alt="Télécharger mon CV">
    </a>
</div>