<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">

        <a class="navbar-brand" href="{{ path('app_home')}}" >Lucie JUSTINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('description_app_home') }}">Ma Description</a>
                </li>
            </ul>
        </div>

            <form class="pull-right hidden" role="search" id="nav-search-form" method="get" action="{{ path('app_home') }}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher un projet" name="search">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"></button>
                    </span>
                </div>
            </form>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav ">

                    {% if app.user is not null %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</nav>
