{% extends 'admin/base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block body %}
    <div>
        <h1>Mon CV :</h1>
    </div>

    {{ include('admin/cv/_form.html.twig', {'SubmitButtonText': 'Editer le CV'} ) }}
{% endblock %}
