{% extends 'base.html.twig' %}
{% set count = 0 %}

{% block title %}Lucie Justine{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ pluralize(project|length, 'Projet') }} </h1>
        <div class="d-flex flex-wrap test">
            {% for projects in project %}
                <div class="d-flex flex-column flex-project">
                    <h2 class="font-weight-bold text-center"><a href="{{ path('app_project_show', { 'id': projects.id }) }}">{{ projects.nomProjet|u.truncate(36, '...', false) }}</a></h2>
                    <p>{{ projects.debutProjet|date('d/m/Y') }}
                        {% if projects.finProjet is not empty %}
                            - {{ projects.finProjet|date('d/m/Y') }}
                        {% endif %}
                    </p>

                    <div>
                        {% if vich_uploader_asset(projects, 'imageFile') is not null %}
                            <a href="{{ path('app_project_show', { 'id': projects.id }) }}"><img src="{{ vich_uploader_asset(projects, 'imageFile')|imagine_filter('image_home_scale') }}"></a>
                        {% else %}
                            <img src="{{ asset('images/no-found.png') }}">
                        {% endif %}
                    </div>

                    <div class="text-center">
                        <p>{{ projects.descriptionProjet|u.truncate(60, '...', false) }}</p>
                    </div>
                </div>
            {% else %}
                    <h1>Désolé il n'y a aucun projet</h1>
            {% endfor %}
        </div>

    </div>

    {% include 'cv_button.html.twig' %}

{% endblock %}


