{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center show-project">
        <h1 class="text-center">{{ project.nomProjet }}</h1>
        <p class="text-center font-weight-bold">
            {{ project.debutProjet|date('d/m/Y') }}
            {% if project.finProjet is not empty %}
                - {{ project.finProjet|date('d/m/Y') }}
            {% endif %}
        </p>

        <div class="text-center">
            {% if vich_uploader_asset(project, 'imageFile') is not null %}
                <img src="{{ vich_uploader_asset(project, 'imageFile')|imagine_filter('image_scale') }}">
            {% else %}
                <img src="{{ asset('images/not-found.png') }}">
            {% endif %}
        </div>

        <h5 class="goal">Voici les objectifs de ce projet :</h5>
        {% for objectif in listeObjectifs %}
            <ul style="list-style: url({{ asset('images/right-arrow.svg') }});">
                <li>{{ objectif }}</li>
            </ul>
        {% endfor %}

        <p class="text-justify">{{ project.descriptionProjet }}</p>
        <p class="text-justify">{{ project.conclusionProjet }}</p>

        {%  if project.listeLogiciels is not empty%}
            <h5>Voici le/les logiciel(s) utilisé(s) durant ce projet :</h5>
            {% for logiciel in project.listeLogiciels %}
                <ul class="listeLogiciels">
                    <li style="list-style: url({{ asset('images/right-arrow.svg') }});">
                        <img src="{{ vich_uploader_asset(logiciel, 'imageLogicielFile')|imagine_filter('image_Logiciel_scale') }}">
                        {{ logiciel.name }}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>

    {% include 'cv_button.html.twig' %}

    <a href="{{ path("app_home", {id: project.id}) }}">Retour</a>
{% endblock %}
